@model Jogo.Models.Usuario
<h3 class="tituloForm">@Html.DisplayFor(x => x.Nome)</h3>

<div class="posicoes">
    <div class="col-sm-10 col-md-10">
        <div class="thumbnail tile tile-double tile-blue">
            <a href="#">
                <h1 class="tile-text">
                    Fácil
                </h1>
            </a>
        </div>

        <div class="thumbnail tile tile-double tile-orange">
            <a href="#">
                <h1 class="tile-text">
                    Médio
                </h1>
            </a>
        </div>

        <div class="thumbnail tile tile-double tile-red">
            <a href="#">
                <h1 class="tile-text">
                    Difícil
                </h1>
            </a>
        </div>
    </div>
</div>