.posicoes {
    margin-top: 220px;
    padding-left: 255px;
    padding-bottom: 300px;
}
.posicaoFormRanking {

    margin-top: 100px;
}
.tituloForm {
    padding-left: 475px;
}

 a:link {/* normal, não visitado */ 
     text-decoration: none;
     color: white;
 }
a:visited {/* visitado */ 
    text-decoration: none;
    color: white;
}
a:hover {/*enquanto o mouse está sobre link */ 
    text-decoration: none;
}
a:active {/*enquanto o link está sendo clicado */ 
    text-decoration: none;
}